<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your Match</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="questions">
        <form id="survey">
        <h4>Name (Required)</h4>
        <input type="text" name id="name" class="form-control required" required>
        <h4>Link to Photo Image (Required)</h4>
        <input type="text" name id="photo_link" class="form-control required" required>
        </form>
    </div>


    <div id="survey">

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="myRange">
    </div>
    <p><span id="demo"></span>
</div>

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="second_ques">
    </div>
    <p><span id="second_slide"></span>
</div>

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="third_ques">
    </div>
    <p>
        <span id="third_slide"></span>
</div>

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="fourth_ques">
    </div>
    <p>
        <span id="fourth_slide"></span>
</div>

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="fifth_ques">
    </div>
    <p>
        <span id="fifth_slide"></span>
</div>

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="sixth_ques">
    </div>
    <p>
        <span id="sixth_slide"></span>
</div>

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="seventh_ques">
    </div>
    <p>
        <span id="seventh_slide"></span>
</div>

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="eigth_ques">
    </div>
    <p>
        <span id="eigth_slide"></span>
</div>

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="ninth_ques">
    </div>
    <p>
        <span id="ninth_slide"></span>
</div>

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="tenth_ques">
    </div>
    <p>
        <span id="tenth_slide"></span>
</div>

</div>

<button type="submit" class="btn btn-block btn-primary btn-lg" id="submit" data-toggle="modal" data-target="#exampleModal">
    Submit
</button>



</div>

