<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your Match</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/all-friends" class="btn btn-primary">See all of them!</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="questions">
    <form id="survey">
           <h4><label for="cname">Name (required)</label>
        <input id="name" name="name" minlength="4" type="text" class="form-control" required>
    <h4><label for="cname">Photo Link (required)</label>
    <input id="photo_link" name="ph" minlength="4" type="url" class="form-control"required>
    
<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="myRange">
    </div>
    <p><span id="demo"></span>
</div>

<div class="question">
    <h3>I enjoy drinking on occations...</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="second_ques">
    </div>
    <p><span id="second_slide"></span>
</div>

<div class="question">
    <h3>How much do you enjoy Sci-Fi</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="third_ques">
    </div>
    <p>
        <span id="third_slide"></span>
</div>

<div class="question">
    <h3>Do you like the out doors?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="fourth_ques">
    </div>
    <p>
        <span id="fourth_slide"></span>
</div>

<div class="question">
    <h3>Are you a fan of small groups?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="fifth_ques">
    </div>
    <p>
        <span id="fifth_slide"></span>
</div>

<div class="question">
    <h3>Do you tolerate many people?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="sixth_ques">
    </div>
    <p>
        <span id="sixth_slide"></span>
</div>

<div class="question">
    <h3>Do you like to travel?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="seventh_ques">
    </div>
    <p>
        <span id="seventh_slide"></span>
</div>

<div class="question">
    <h3>Is age a facotr when it comes to looking for friends?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="eigth_ques">
    </div>
    <p>
        <span id="eigth_slide"></span>
</div>

<div class="question">
    <h3>Do you like pets?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="ninth_ques">
    </div>
    <p>
        <span id="ninth_slide"></span>
</div>

<div class="question">
    <h3>Do you need alcohol to have a good time?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="5" value="3" class="slider" id="tenth_ques">
    </div>
    <p>
        <span id="tenth_slide"></span>
</div>

    <input type="submit" value="Submit" class="btn btn-primary" id="submit">

</h4>
</form>



