

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="10" value="5" class="slider" id="myRange">
    </div>
    <p>This is the value: <span id="demo"></span>
</div>

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="10" value="5" class="slider" id="myRange">
    </div>
    <p>This is the value:<span id="demo"></span>
</div>

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="10" value="5" class="slider" id="myRange">
    </div>
    <p>This is the value:
        <span id="demo"></span>
</div>

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="10" value="5" class="slider" id="myRange">
    </div>
    <p>This is the value:
        <span id="demo"></span>
</div>

<div class="question">
    <h3>How cool do you think you are?</h3>
    <div id="slidecontainer">
        <input type="range" min="1" max="10" value="5" class="slider" id="myRange">
    </div>
    <p>This is the value:
        <span id="demo"></span>
</div>